Repository cBioPortal/cbioportal-frontend, pull requests merged in 2018-08, with the labels that each got.

#1350 OncoKB: Return original string if string cannot be converted to refComponent
  src/shared/components/annotation/OncoKbCard.tsx
Labels: bug, oncokb

#1331 Include all study view charts under ChartContainer
  src/pages/studyView/StudyViewPage.tsx
  src/pages/studyView/StudyViewPageStore.ts
  src/pages/studyView/StudyViewUtils.tsx
  src/pages/studyView/chartHeader/ChartHeader.tsx
  src/pages/studyView/charts/ChartContainer.tsx
  src/pages/studyView/charts/StudyViewComponentLoader.tsx
  src/pages/studyView/charts/pieChart/PieChart.tsx
  src/pages/studyView/styles.module.scss
  src/pages/studyView/styles.scss
  src/pages/studyView/table/CNAGenesTable.tsx
  src/pages/studyView/table/MutatedGenesTable.tsx
  src/pages/studyView/table/tables.module.scss
Labels: study view

#1398 Functional Impact Column, query all mutations
  src/pages/patientView/PatientViewPage.tsx
  src/pages/patientView/clinicalInformation/PatientViewPageStore.ts
  src/pages/resultsView/ResultsViewPageStore.ts
  src/pages/resultsView/mutation/Mutations.tsx
  src/pages/resultsView/mutation/ResultsViewMutationMapper.tsx
  src/pages/resultsView/mutation/ResultsViewMutationMapperStore.ts
  src/pages/tools/mutationMapper/MutationMapperTool.tsx
  src/pages/tools/mutationMapper/MutationMapperToolStore.ts
  src/pages/tools/mutationMapper/StandaloneMutationMapper.tsx
  src/shared/cache/GenomeNexusEnrichment.ts
  src/shared/components/mutationMapper/MutationMapper.tsx
  src/shared/components/mutationMapper/MutationMapperStore.ts
  src/shared/components/mutationTable/MutationTable.tsx
  src/shared/components/mutationTable/column/FunctionalImpactColumnFormatter.tsx
  src/shared/lib/GenomeNexusUtils.ts
  src/shared/lib/MutationAnnotator.spec.ts
  src/shared/lib/MutationAnnotator.ts
  src/shared/lib/MutationTableDownloadDataFetcher.ts
Labels: ready to review
