Repository cBioPortal/cbioportal-frontend, pull requests merged in 2024-06, with the labels that each got.

#4919 Update Genome Nexus API model and reVUE reference to fit new model
  packages/genome-nexus-ts-api-client/src/generated/GenomeNexusAPI-docs.json
  packages/genome-nexus-ts-api-client/src/generated/GenomeNexusAPI.ts
  packages/genome-nexus-ts-api-client/src/generated/GenomeNexusAPIInternal-docs.json
  packages/genome-nexus-ts-api-client/src/generated/GenomeNexusAPIInternal.ts
  packages/react-mutation-mapper/src/component/revue/Revue.tsx
  src/shared/components/mutationTable/column/AnnotationColumnFormatter.tsx
Labels: genome-nexus, cl-external-api

#4928 Remove demo-rfc72 reference from local e2e test
  end-to-end-test/local/docker_compose/setup.sh
Labels: test

#4916 Mutational Signature Improvements
  end-to-end-test/local/screenshots/reference/show_mutational_bar_chart_dbs_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_mutational_bar_chart_id_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_mutational_bar_chart_sbs_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_mutational_signatures_table_for_patient_who_has_significant_id_signatures_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_mutational_signatures_table_for_patient_who_has_significant_sbs_signatures_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_the_bar_chart_with_percentage_on_y_axis_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_tooltip_for_patient_who_has_significant_dbs_signatures_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_tooltip_for_patient_who_has_significant_id_signatures_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/show_tooltip_for_patient_who_has_significant_sbs_signatures_element_chrome_1600x1000.png
  end-to-end-test/local/screenshots/reference/switch_between_samples_to_update_mutational_bar_chart_element_chrome_1600x1000.png
  src/pages/patientView/PatientViewPageTabs.tsx
  src/pages/patientView/mutationalSignatures/MutationalSignatureBarChart.spec.tsx
  src/pages/patientView/mutationalSignatures/MutationalSignatureBarChart.tsx
  src/pages/patientView/mutationalSignatures/MutationalSignatureBarChartUtils.ts
  src/pages/patientView/mutationalSignatures/MutationalSignaturesContainer.tsx
  src/shared/model/MutationalSignature.ts
Labels: enhancement

#4935 add splice mention to oncoprinter docs
  src/pages/staticPages/tools/oncoprinter/OncoprinterHelp.tsx
Labels: documentation
