Repository cBioPortal/cbioportal-frontend, pull requests merged in 2025-05, with the labels that each got.

#5175 Update url navigation to fix failing e2e localdb tests on backend and restore localdb errors screenshots
  .circleci/config.yml
  end-to-end-test/local/specs/core/studyview.screenshot.spec.js
  end-to-end-test/shared/specUtils_Async.js
  end-to-end-test/shared/wdio/wdio.conf.js
Labels: test

#5176 Enable validation for the new alteration enrichments and samples endpoints
  src/shared/api/cbioportalClientInstance.ts
  src/shared/api/cbioportalInternalClientInstance.ts
Labels: test

#5180 Revert study view screenshots affected by frequency change
  end-to-end-test/remote/screenshots/reference/check_for_survival_plots_element_chrome_1600x1000.png
  end-to-end-test/remote/screenshots/reference/loads_a_virtual_study_element_chrome_1600x1000.png
  end-to-end-test/remote/screenshots/reference/loads_multiple_studies_with_treatments_tables_element_chrome_1600x1000.png
  end-to-end-test/remote/screenshots/reference/tcga_pancancer_atlas_page_element_chrome_1600x1000.png
Labels: test

#5181 Update patient table screenshot
  end-to-end-test/remote/screenshots/reference/patient_page_valid_after_cohort_navigation_element_chrome_1600x1000.png
Labels: test

#5184 Fix comparison page category table numbers
  end-to-end-test/remote/screenshots/reference/group_comparison_page_clinical_tab_race_plot_type_table_element_chrome_1600x1000.png
  end-to-end-test/remote/specs/core/groupComparison.screenshot.spec.js
  src/pages/groupComparison/CategoryPlot.tsx
  src/pages/groupComparison/CategoryTable.tsx
  src/pages/groupComparison/styles.module.scss
  src/pages/groupComparison/styles.module.scss.d.ts
Labels: bug

#5186 Temporarily disable 3D Structure viewer
  end-to-end-test/remote/specs/core/results.spec.js
  src/shared/components/mutationMapper/MutationMapper.tsx
Labels: chore

#5162 feat : Use of path URL for comparison and pathways subtab
  end-to-end-test/remote/specs/core/screenshot.spec.js
  src/pages/resultsView/ResultsViewPageHelpers.spec.ts
  src/pages/resultsView/ResultsViewPageHelpers.tsx
  src/pages/resultsView/ResultsViewURLWrapper.ts
  src/pages/resultsView/comparison/ComparisonTab.tsx
  src/pages/resultsView/pathwayMapper/PathWayMapperContainer.tsx
  src/routes.tsx
Labels: enhancement

#5189 Increase timeout for group comparison clinical tab categorical table screenshot test
  end-to-end-test/remote/specs/core/groupComparison.screenshot.spec.js
Labels: test

#5195 Fix failing screenshot tests for results view mutations table oncokb annotation
  end-to-end-test/remote/screenshots/reference/no_session_mutation_tab_element_chrome_1600x1000.png
  end-to-end-test/remote/screenshots/reference/session_mutation_tab_element_chrome_1600x1000.png
Labels: test
