Repository cBioPortal/cbioportal-frontend, pull requests merged in 2025-04, with the labels that each got.

#5151 Fix e2e remote quick search test
  end-to-end-test/remote/specs/core/quickSearch.spec.js
Labels: test

#5154 Revert "Fix CDSA iframe url"
  src/pages/patientView/PatientViewPageTabs.tsx
  src/shared/api/urls.ts
Labels: chore

#5155 Stabilize query page reference genome test
  end-to-end-test/local/specs/core/querypage.spec.js
Labels: test

#5143 Migration of localdb tests to async
  end-to-end-test/local/screenshots/reference/breadcrumbs_are_editable_for_mutation_count_chart_element_chrome_1600x1000.png
  end-to-end-test/local/specs/SurvivalChart.screenshot.spec.js
  end-to-end-test/local/specs/annotation-filter-menu.spec.js
  end-to-end-test/local/specs/core/comparison-alterations-tab.spec.js
  end-to-end-test/local/specs/core/comparisonTab.screenshot.spec.js
  end-to-end-test/local/specs/core/groupComparison.screenshot.spec.js
  end-to-end-test/local/specs/core/oncoprint.screenshot.spec.js
  end-to-end-test/local/specs/core/patientview.screenshot.spec.js
  end-to-end-test/local/specs/core/patientview.spec.js
  end-to-end-test/local/specs/core/plotstab.screenshot.spec.js
  end-to-end-test/local/specs/core/plotstab.spec.js
  end-to-end-test/local/specs/core/postedquery.spec.js
  end-to-end-test/local/specs/core/querypage.spec.js
  end-to-end-test/local/specs/core/resultsview.screenshot.spec.js
  end-to-end-test/local/specs/core/resultsviewDisabledTabs.spec.js
  end-to-end-test/local/specs/core/settings-menu.spec.js
  end-to-end-test/local/specs/core/studyview.screenshot.spec.js
  end-to-end-test/local/specs/core/version.spec.js
  end-to-end-test/local/specs/custom-driver-annotations-in-result-view.spec.js
  end-to-end-test/local/specs/custom-driver-annotations-in-study-view.spec.js
  end-to-end-test/local/specs/group-color-chooser.spec.js
  end-to-end-test/local/specs/gsva.screenshot.spec.js
  end-to-end-test/local/specs/gsva.spec.js
  end-to-end-test/local/specs/hide-download-controls.spec.js
  end-to-end-test/local/specs/hide-login-button.spec.js
  end-to-end-test/local/specs/init-columns-in-cna-tables.spec.js
  end-to-end-test/local/specs/init-columns-in-mutation-tables.spec.js
  end-to-end-test/local/specs/init-columns-in-struct-var-tables.spec.js
  end-to-end-test/local/specs/namespace-columns-in-cna-tables.spec.js
  end-to-end-test/local/specs/namespace-columns-in-mutation-tables.spec.js
  end-to-end-test/local/specs/namespace-columns-in-struct-var-tables.spec.js
  end-to-end-test/local/specs/namespace-columns-utils.js
  end-to-end-test/local/specs/struct-var-table.spec.js
  end-to-end-test/local/specs/study-view-custom-bins.screenshot.spec.js
  end-to-end-test/local/specs/study-view-filters-autocommit-toggle.spec.js
  end-to-end-test/local/specs/treatment.screenshot.spec.js
  end-to-end-test/local/specs/treatment.spec.js
  end-to-end-test/local/specs/user-display-name.spec.js
  end-to-end-test/local/specs/virtual-study.spec.js
  end-to-end-test/local/specs/web-tour.spec.js
  end-to-end-test/remote/screenshots/reference/pvge_only_show_highlighted_in_line_chart_element_chrome_1600x1000.png
  end-to-end-test/remote/specs/config.spec.js
  end-to-end-test/remote/specs/core/genomicEvolution.screenshot.spec.js
  end-to-end-test/remote/specs/core/home.spec.js
  end-to-end-test/remote/specs/core/mutationMapperTool.spec.js
  end-to-end-test/remote/specs/core/oncoprint.spec.js
  end-to-end-test/remote/specs/core/oncoprinterColorConfig.spec.js
  end-to-end-test/remote/specs/core/results.spec.js
  end-to-end-test/remote/specs/core/resultsOncoprintColorConfig.spec.js
  end-to-end-test/remote/specs/core/screenshot.spec.js
  end-to-end-test/remote/specs/core/studyview.spec.js
  end-to-end-test/shared/specUtils_Async.js
Labels: test

#5156 Replace Github Packages with Maven Central
  .github/workflows/github-package-build.yml
  pom.xml
Labels: devops

#5157 Stabilize clicking query by gene tests
  end-to-end-test/shared/specUtils_Async.js
Labels: test

#5159 Fix e2e localdb oncoprint don't cluster test
  end-to-end-test/shared/specUtils_Async.js
Labels: test

#5163 Update Visualize.tsx to include SE4BIO
  src/pages/staticPages/visualize/Visualize.tsx
Labels: documentation

#5160 Add link to new about page
  src/appShell/App/PortalFooter.tsx
  src/appShell/App/PortalHeader.tsx
Labels: documentation

#5166 Improve prettier check in circleci tests
  .circleci/config.yml
Labels: test

#5161 Stabilize flaky unprofiled samples oncoprint and breadcrumbs tests
  end-to-end-test/remote/specs/core/screenshot.spec.js
  end-to-end-test/shared/specUtils_Async.js
Labels: test

#5169 Revert test changes affected by frequency fix
  end-to-end-test/local/specs/annotation-filter-menu.spec.js
Labels: test

#5170 Fix prettier version for circleci config
  .circleci/config.yml
Labels: test, cl-bug
